.home-wrapper
    width: 800px
    max-width: 100%
    margin: 0 auto
    header
        text-align: center
        padding: 60px 15px
    article
        padding: 30px
        margin: 0 15px
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1)
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1)
        box-shadow: 0 0 10px rgba(0, 0, 0, .1)
        h2
            margin-top: 0
